<p>
  home works!
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at ultrices arcu. Integer id neque eu lectus porttitor gravida at egestas felis. Nullam tempor sem eget augue dignissim fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse fringilla blandit nisi in viverra. Phasellus dignissim sit amet tortor at viverra. Nulla viverra ipsum felis, non pretium ante porta vel. Suspendisse et orci interdum, accumsan erat consequat, rutrum erat. Donec quis dolor a ex tincidunt semper et ac nunc. Maecenas eget libero magna. Proin ut tellus nec ex efficitur congue. Aenean consequat posuere nulla, at posuere odio pharetra at.</p>
<button (click)="setHomeData()">set Data</button>

